# Requires cert-manager with --enable-gateway-api=true.
# One-time setup:
#
#   helm repo add jetstack https://charts.jetstack.io
#   helm install cert-manager jetstack/cert-manager \
#     --namespace cert-manager --create-namespace \
#     --set crds.enabled=true \
#     --set extraArgs="{--enable-gateway-api=true}"

apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod-gateway
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: ${LETSENCRYPT_EMAIL}
    privateKeySecretRef:
      name: letsencrypt-prod-gateway-key
    solvers:
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: nepean-circular
                namespace: nepean-circular
                kind: Gateway
