apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nepean-circular-data
  namespace: nepean-circular
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 1Gi
